.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
body{
    color: rgb(15, 15, 25);
    margin: 0px;
    padding: 0px;
    font-family:  sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.display{
    background: #fffcf8;
    padding-top: 67px;
    width: 45%;
    height: 100vh;
}
.style_image{
    text-align: center;
}
.style_display{
    width: 100%;
    height: 370px;
}
.style_footer{
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.style_telno{
    font-size: .75rem;
    font-family:  sans-serif;
    line-height: 180%;
    letter-spacing: .02rem;
    color: #000812;
}
.style_copyright{
    font-size: .875rem;
    font-family: Almarena, sans-serif;
    line-height: 30px;
    letter-spacing: -.01rem;
    color: #000812;
}
.motivetext{
    font-family:  sans-serif;
    color: #000812;
    font-size: 3.1875rem;
    line-height: 72px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: -.51px;
}

.socialicons{
    text-align: center;
    padding-right: 10px;
}

.form_container{
    width: 90%;
    padding: 50px 30px;
}
.signup_text{
    font-size: 1.75rem;
    font-family: sans-serif;
    color: rgb(11, 30, 75);
    line-height: 30px;
    margin-bottom: 10px
}
.style_formtext{

    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(133, 136, 141);
    line-height: 20px;
    margin-bottom: 25px;
}
.style_formlabels{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    list-style: none;
    font-family:   sans-serif; 
}

.button{
    width: 100%;
    padding: 16px 0px;
    background: rgb(106, 111, 245);
    color: rgb(255, 255, 255);
    font-family: EuclidRegular, sans-serif;
    display: flex;
    gap: 10px;
    border: none;
    border-radius: 6px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form_container{
    width: 55%;
    height: 100vh;
    
}
.form_content{
    width: 90%;
    padding: 70px 30px;
}
.style_formrow{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;}
   
   .style_hear{
    flex: auto;
    max-width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 32px;
    border: none;
    outline: none;
    background-color: #fafafa;
    border-radius: 6px;
    padding: 16px 24px 16px 10px;
   .form_row2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px
   }
   .signin_text{
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;}
}
